:root {
  --gray: #434455;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
header {
  background-color: white;
}
footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  /* width: 1440px;
  height: 312px; */
}
.sect-first {
  background-color: #2e2f42;
  /* width: 1440px;
  height: 600px; */
}
.solution {
  color: #ffffff;
  line-height: 1.07;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
}
.article {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.features-article {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.people-article {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-paragraph {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.people-paragraph {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.sect-fourth {
  background-color: var(--cloud);
}
.btn {
  border-radius: 4px;
  background: var(--iris);
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  cursor: pointer;
}
.btn:hover {
  background-color: #404bbf;
}
.btn:focus {
  background-color: #404bbf;
}
.web {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.sp {
  color: #2e2f42;
}
.nav_list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav_list:focus {
  color: #404bbf;
}
.nav_list:hover {
  color: #404bbf;
}
.info {
  font-style: normal;
}
.info-style {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray);
}
.info-style:hover {
  color: #404bbf;
}
.info-style:focus {
  color: #404bbf;
}
