:root {
  --gray: #434455;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
header {
  background-color: white;
}
footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  /* width: 1440px;
  height: 312px; */
}
h1 {
  color: white;
  font-size: 56px;
  font-weight: 700;
}
h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
}
h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
}
.sect1 {
  background-color: #2e2f42;
  /* width: 1440px;
  height: 600px; */
}
.sect2 {
  background-color: #f4f4fd;
  /* width: 1440px;
  height: 600px; */
}
.btn {
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  /* width: 169px;
  height: 56px; */
  cursor: pointer;
}
.web {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.sp {
  color: #2e2f42;
}
.nav_list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav_list:focus:hover {
  color: #404bbf;
}
.info {
  font-style: normal;
}
.info-style {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray);
}
.info-style:focus:hover {
  color: #404bbf;
}
